.sub-header {
    display: flex;
    align-items: center;
    width : 100%;
    height : 2.5rem;
    border-bottom : .1px solid black;
    background-color: #2f4550;
}

.sub-header .category-button {
    color : white;
    margin-left: .5rem;
    height: 2rem;
    width : 2rem;
}

.sub-header p {
    color: white;
    margin-left: 15px;
}